<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <div class="card product-card">
                <img src="{{ menu.imagen }}" class="product-image" alt="Imagen del producto">
                <div class="product-body">
                    <h5 class="card-title text-wrap">{{ menu.nombre }}</h5>
                    <p class="card-text">Marca: <strong>{{ menu.cubierto }}</strong></p>
                    <div class="price-container">
                        <p class="product-price-old">S./{{ menu.precio }}</p>
                        <p class="product-price">S./{{ menu.precio - menu.precio *1 | number:'1.2-2'}}</p>
                    </div>
                    <!-- Contenedor para centrar el botón -->
                    <div class="d-flex justify-content-center mt-3">
                        <a [routerLink]="['/platos', menu.idplato]" class="btn btn-primary btn-sm">Mas Informacion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>