        .product-card {
            width: 200px; /* Ancho fijo */
            height: 320px; /* Alto fijo */
            border-radius: 12px; /* Bordes redondeados */
            overflow: hidden; /* Evita que el contenido sobresalga */
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .product-card:hover {
            transform: scale(1.05); /* Efecto al pasar el ratón */
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
        }

        .product-image {
            width: 100%; /* Ajusta el ancho al contenedor */
            height: 120px; /* Fija la altura */
            object-fit: scale-down; /* Ajuste sin deformaciones */
        }

        .product-body {
            padding: 10px;
            text-align: center;
        }

        .product-price {
            font-size: 1.2rem;
            font-weight: bold;
            color: #ca4949;
        }
        .product-price-old {
            font-size: 1rem;
            font-weight: bold;
            color: #545d65;
        }