<footer class="bg-dark text-light" id="footer_responsive">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">

                <h2 class="h2 text-primary border-bottom pb-3 border-info logo">BurgerExpress</h2>
                <p>
                    "Aquí no solo comes hamburguesas, las disfrutas de principio 
                    a fin: pan crujiente, carne jugosa y sabor que te hace volver 
                    por más, vienes a vivir una experiencia que empieza con una 
                    sonrisa... y termina con ganas de repetir."
                </p>
                
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Contactanos</h2>
                <ul class="list-unstyled footer-link-list">

                    <li class="d-flex align-items-start">
                        <i class="fa fa-calendar fa-fw me-2 mt-1"></i>
                        <div>
                            <div>Domingo a Miércoles - 8 am a 10 pm</div>
                            <div>Jueves - 8 am a 12 am</div>
                            <div>Viernes y Sábado - 8 am a 1 am</div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none text-light" href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none text-light" href="mailto:info@company.com">BurgerExpresscompany.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Mapa del Sitio</h2>
                <ul class="list-unstyled footer-link-list">
                    <li><a class="text-decoration-none text-light" href="#"> > Inicio</a></li>
                    <li><a class="text-decoration-none text-light" href="#"> > Menú</a></li>
                    <li><a class="text-decoration-none text-light" href="#"> > Promociones</a></li>
                    <li><a class="text-decoration-none text-light" href="#"> > Locales</a></li>
                    <li><a class="text-decoration-none text-light" href="#"> > Contactos</a></li>
                </ul>
            </div>

        </div>


        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center width-100px">
                        <p class="text-left text-light">
                        Copyright &copy; 2025 BurgerExpress - Todos los derechos reservados.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>